/**/vault
.vaultpass
.ansible/

files/*
!files/.gitkeep

group_vars/*
!group_vars/sample/
!group_vars/sample/*

host_vars/*
!host_vars/0.0.0.1/
!host_vars/0.0.0.1/*

inventory/*
!inventory/inventory.sample.ini
!inventory/inventory.sample.yml
